<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
        <h1 style="font-size: 128px;">{{error}}</h1>
        <p class="error-message">{{message}}</p>
</body>
</html>