<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <style>
        #dropbtn {
            display: none;
        }
        body {
            background-image: url(/img/main.jpg);
        }
    </style>
</head>
<body>
    {{>header}}
    <div class="main-content">
        {{>signup}}
        {{>center}}
    </div>
</body>
</html>