<center>
    <div class="center">
        <a href="/gaming"><div class="gaming planet-size planet"><img class="planet-name" src="/img/gameWord.png"></div></a>
        <a href="/music"><div class="music planet-size planet"><img class="planet-name" src="/img/musicWord.png"></div></a>
        <a href="/sports"><div class="sports planet-size planet"><img class="planet-name" src="/img/sportWord.png"></div></a>
        <a href="/news"><div class="news planet-size planet"><img class="planet-name" src="/img/news.png"></div></a>
        <a href="/fashion"><div class="fashion planet-size planet"><img class="planet-name" src="/img/fashionWord1.png"></div></a>
        <a href="/technology"><div class="unspin technology planet-size planet"><img class="planet-name" src="/img/techWord1.png"></div></a>
        <a href="/flexible"><div class="planet-size planet"><img src=""></div></a>
        <a href="/flexible"><div class="planet-size planet"><img src=""></div></a>
        <a href="/flexible"><div class="planet-size planet"><img src=""></div></a>
    </div>
</center>