<header>
    <nav class="head">
        <div class="logo">
            <a href="/">{{title}}</a>
        </div>

        <div class="search">
                <span class="fa fa-search"></span>
                <input placeholder="Search">
        </div>
        {{>login}}
        <a href="javascript:void(0)" id="dropbtn" onclick="toggleMenu()">Planets</a>
        <div id="menu-box">
          <a href="/gaming"><div class="gaming-menu gaming planet-menu-size planet"><img class="planet-menu-name" src="/img/gameWord.png"></div></a>
          <a href="/music"><div class="music-menu music planet-menu-size planet"><img class="planet-menu-name" src="/img/musicWord.png"></div></a>
          <a href="/sports"><div class="sports-menu sports planet-menu-size planet"><img class="planet-menu-name" src="/img/sportWord.png"></div></a>
          <a href="/news"><div class="news-menu news planet-menu-size planet"><img class="planet-menu-name" src="/img/news.png"></div></a>
          <a href="/fashion"><div class="fashion-menu fashion planet-menu-size planet"><img class="planet-menu-name" src="/img/fashionWord1.png"></div></a>
          <a href="/technology"><div class="unspin technology-menu technology planet-menu-size planet"><img class="planet-menu-name" src="/img/techWord1.png"></div></a>
          <a href="/flexible"><div class="planet-menu-size planet"><img src=""></div></a>
          <a href="/flexible"><div class="planet-menu-size planet"><img src=""></div></a>
          <a href="/flexible"><div class="planet-menu-size planet"><img src=""></div></a>
        </div>
    </nav>
</header>