/* .div-two {
    z-index: 1;
  }
  
  .div-three {
    z-index: 1;
  }
  
  .div-four {
    z-index: 1;
  } */

  .img1, .img2, .img3 {
      width: 40px;
      height: 40px;
      margin: auto;
  }

  .moon1, .moon2, .moon3 {
    width: 70px;
    height: 70px;
    background-image: url(/img/moonBack.png);
  }

  .moon-center {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }