.planet {
    border-radius:50%;
    background-size:cover;
    box-shadow:
        0px 0px 10px 10px rgba(0,0,0,0.9) inset,
        0 0 15px 0.1px #fff;
        animation:spin 10000s linear alternate infinite;
  }
  @keyframes spin {
    0% {background-position: 0 0;}
    100% {background-position: 126000px 0;}
  }

  .center {
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    /* margin: auto 200px auto 20px; */
  }

  .planet-content {
    flex-grow: 1;
    /* margin: 145px auto 20px auto; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 3rem;
  }

  .earth {
    margin: auto;
    width: 250px;
    height: 250px;
    box-shadow:
        0px 0px 30px 30px rgba(0,0,0,0.9) inset,
        0 0 15px 0.1px #fff;
  }

  .earth-name {
    width: 250px;
    height: 170px;
    margin-top: 25px;
  }

.gaming {
    background-image: url(/img/gaming.jpg);
}

.technology {
  background-image: url(/img/technology.webp);
}

.unspin {
  animation:spin 0s;
}

.planet-name {
    margin-top: 10px;
    width: 100px;
    height: 70px;
}

.planet-size {
    width: 100px;
    height: 100px;
}

.planet-menu-name {
    margin-top: 8px;
    width: 77px;
    height: 60px;
}

.planet-menu-size {
    width: 77px;
    height: 77px;
}

#menu-box {
    position: absolute;
    z-index: 3;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 50px;
    right: 0px;
  }
  
  #menu-box a {
    padding: 5px 5px;
  }

  ul li.line-planets {
    float: left;
    margin: 5px 40px 5px 40px;
    width: 77px;
    height: 77px;
    cursor: pointer;
    list-style: none;
  }